name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      repository-projects: read
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: main
          committer_token: ${{ secrets.METRICS_TOKEN }}

          base: activity, community
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
